body {
	font-family: tahoma, verdana, arial, helvetica;
	background-color: #33CCCC;
}

#pnr_div {
	display: none;
}

#event_id_text {
	width: 300px;
}

#main {
	width: 2000px;
}

.clearfix {
	height: 10px;
	clear: both;
}

#source_table {
	float: left;
}

#destination_table {
	float: left;
	margin-left: 40px;
}

#legend_table {
	float: left;
	margin-left: 10px;
	display: none;
	background-color: #FFFFFF;
}

#source_seats {
	float: left;
	background-color: #FFFFFF;
}

#destination_seats {
	float: left;
	margin-left: 10px;
	background-color: #FFFFFF;
}

table.tbl {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: white;
}

table.tbl th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius:;
}

table.tbl td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius:;
}

td.seat {
	border: 1px solid #000000;
	width: 50px;
}

td.blank {
	width: 50px;
}

td.alpha {
	text-align: center;
}

td.rownum {
	text-align: right;
}

.hidden {
	display: none;
}

td.preferred {
	background-color: #4CFF00;
}

td.bulkhead {
	border: 2px solid blue;
}

td.exit_row {
	border: 2px solid red;
}

td.econ_comfort {
	background-color: #FFFF23;
}

td.limited_recline {
	border: 1px solid black;
	border-bottom: 2px dotted black;
}

td.infant_restricted {
	background-image: url('../image/single_cross.png');
}

td.occupied {
	background-image: url('../image/double_cross.png');
}

td.blocked {
	background-image: url('../image/blocked.png');
}



a.pnr_a {
	font-size: 13px;
	text-decoration: none;
	display: block;
	font-family: Courier New;
}

a.bolded {
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}

td.bordered {
	border-width: 2px;
}

th {
	font-size: 12px;
}

#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}

#contextmenu {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}

a#contextmenulink,a#copytoclipboardlink {
	font-size: 13px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

span.lbl {
	font-size: 13px;
}

a:hover,a.hover {
	font-size: 13px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

a:active,a.active {
	font-size: 13px;
	text-decoration: none;
	display: block;
}

#toppathwrap { position:fixed; top:0px; right:0px; background-color:#F2F1E8; padding:5px; display:none; }