body {
	font-family: tahoma, verdana, arial, helvetica;
	background-color: #33CCCC;
}

#pnr_div {
	display: none;
}

#event_id_text {
	width: 300px;
}

#main {
	width: 2000px;
}

.clearfix {
	height: 10px;
	clear: both;
}

#source_table {
	float: left;
}

#destination_table {
	float: left;
	margin-left: 40px;
}

#legend_table {
	float: left;
	margin-left: 10px;
	display: none;
	background-color: #FFFFFF;
	padding-right: 5px;
}

#source_seats {
	float: left;
	background-color: #FFFFFF;
}

#destination_seats {
	float: left;
	margin-left: 10px;
	background-color: #FFFFFF;
}

table.tbl {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: white;
}

table.tbl th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius:;
}

table.tbl td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius:;
}

td.seat {
	border: 1px solid #000000;
	width: 50px;
}

td.blank {
	width: 50px;
}

td.alpha {
	text-align: center;
}

td.rownum {
	text-align: right;
}

.hidden {
	display: none;
}

td.preferred {
	background-color: #4CFF00;
}

td.bulkhead {
	border: 2px solid blue;
}

td.exit_row {
	border: 2px solid red;
}

td.econ_comfort {
 	background-color: #FFFF23;  /* Updated for defect 257 */
}

td.limited_recline {
	border: 1px solid black;
	border-bottom: 2px dotted black;
}

td.infant_restricted {
	background-image: url('../images/single_cross.png');
}

td.occupied {
	background-image: url('../images/double_cross.png');
}

td.blocked {
	background-image: url('../images/blocked.png');
}

td.blocked_occupied{
	background-image: url('../images/blocked_double_cross.png');

}

td.blocked_infant_restricted {
	background-image: url('../images/blocked_single_cross.png');
}

td.bulkhead_limited_recline {
	border: 2px solid blue;
	border-bottom: 2px dotted blue;
}

td.exit_row_limited_recline {
	border: 2px solid red;
	border-bottom: 2px dotted red;
}

a.pnr_a {
	font-size: 13px;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
}

a.bolded {
	color: black;
	font-weight: bolder;
	text-decoration: none;
	font-family: sans-serif;
}

td.bordered {
	border-width: 2px;
}

th {
	font-size: 15px;
}

td {
	font-size: 14px;
}

#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}

#contextmenu {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}

a#contextmenulink,a#copytoclipboardlink {
	font-size: 13px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

span.lbl {
	font-size: 13px;
}

a:hover,a.hover {
	font-size: 13px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

a:active,a.active {
	font-size: 13px;
	text-decoration: none;
	display: block;
}

#toppathwrap { position:fixed; top:0px; right:0px; background-color:#F2F1E8; padding:5px; display:none; }

.event_id_link{
	color: blue!important ;
	text-decoration:underline;
}

td.hdcpd {
	box-shadow:  3px 3px #a02422 /* Updated for defect 257 */
}

/** new css **/

.custom-well {
  padding:5px;
  margin-left:5px;
  height:30px;
  border : 2px solid #000;
}
.custom-col-md-1 {
	width:7.33% !important;
}
.legend-well {
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 7px !important;
    height: 15px;
    min-height: 15px;
    border: 2px solid #000;
}
.default-col {
margin-left:5px;
}
.comfort-seat {
	 background-color : #FFFF00;
}

.confort-offered-seat {
    background-color: #DAF7A6;
}
.offered-seat {
 background-color : #00FF00 !important;
}

.exit-row-seat {
 border : 2px solid #FF0000;
}
.bulkhead-seat {
 border : 2px solid #0000FF;
}
.blocked-seat {
 background-image: url("../images/blocked.png");
}

.limited-recline-seat {
 border-style: solid solid dotted solid
}

.infant-restricted-seat {
  background: linear-gradient(to top right, transparent calc(50% - 2px), #000, transparent calc(50% + 2px) )
}
.hda-seat {
  border-bottom : 4px solid #800000;
  border-right : 4px solid #800000;
}

.unailable-seat {
	text-decoration: line-through;
	-moz-text-decoration-color: red;
    -moz-text-decoration-style: solid;
}

.unavailable-seat {
    position: relative;
    display: inline-block;
}
.unavailable-seat::before, .unavailable-seat::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.unavailable-seat::before {
    border-bottom: 2px solid #000;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}
.unavailable-seat::after {
    border-bottom: 2px solid #000;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 10px 25px;
    text-align: center;
    display: block;
    margin-top: 15px;
}
.scg-patient-list-bg {
    background: #f8ba00;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px!important;
    cursor: pointer;
 }
.blockMsg {
 background-color : transparent !important;
 border : none  !important;
}

.travel-btn {
	padding : 0px 12px;
}
.travel-td {
	padding: 3px !important;
}

.seat-score-well {
	margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.seat-score-amt-span{
	height:20px;
	color:#ff5733;
}
.seat-score-seq-no {
	padding-top: 24px;
}
.error {
	color:red;
}