body {
	background-color: #33CCCC;
}
.trborder { 
	border-RIGHT: 1px solid #000000; 
	border-toP: 1px solid #000000; 
	FONT-SIZE: x-small; 
	border-LEFT: 1px solid #000000; 
	COLOR: black; 
	border-BOTtoM: 1px solid #000000; 
	FONT-FAMILY: Tahoma, Verdana, Arial 
} 
